.admin__container {
  max-width: 980px;
}

.header__fullscreen {
  display: flex;
  justify-content: flex-end;
}

.header__menu-item {
  padding: 10px;
  min-width: 75px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  text-decoration: none;
  overflow-wrap: break-word;
  border-radius: 5px;
  box-shadow: 0px 2px 8px black;
  background-color: white;
  margin-right: 10px;
}

@media screen and (max-width: 450px) {
  .header__fullscreen {
    flex-direction: column;
    height: 100px;
  }

  .header__menu-item {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.header__menu-item:visited {
  color: black;
}

.header__menu-item:link {
  color: black;
}

.day__container {
  padding: 5px;
}

.about__container {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.about__text {
  padding-left: 10px;
}

.admin-day__description-textarea {
  width: 300px;
  height: 140px;
}

.admin-day__input {
  width: 100%;
}

.guess-form__input {
  width: 55%;
  height: 50px;
  text-align: center;
  margin: 10px 0;
}

.difficult {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: red;
}

.easy {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: green;
}

.medium {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: orange;
}

.guess-form__submitbutton {
  width: 70px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888888;
  transition: 0.2s ease-in-out;
  height: 50px;
  background-color: #fff;
}

.guess-form__submitbutton:hover {
  background-color: rgba(143, 0, 0, 0.822);
  color: white;
  transform: translateY(-2px);
}

.guess-form__submitbutton:checked {
  background-color: rgba(143, 0, 0, 0.822);
  color: white;
  transform: translateY(1px);
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.difficulty-text {
  margin-right: 5px;
}

.button {
  padding: 10px;
  min-width: 75px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  text-decoration: none;
  overflow-wrap: break-word;
  border-radius: 5px;
  box-shadow: 0px 2px 8px black;
  background-color: white;
  margin-left: 10px;
  border: 0;
}

.contributors {
  margin-bottom: 10px;
  font-weight: bold;
}
.quiz-description {
  margin-top: 10px;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}

@-moz-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 400px 1000px, 200px 400px, 100px 300px;
  }
}

@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}

@-ms-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}
