@CHARSET "UTF-8";

.hideme {
	display: none;
}

.green {
	color: green;
}

.red {
	color: red;
}

body {
	background-image: url(../images/christmas-snow-background.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.headerImage {
	margin: 0 auto;
}

.headerImageWrapper {
	width: 600px;
	padding: 20px;
}

.main {
	background-color: white;
}

.pane {
	border: 1px solid #ddd;
	background-color: white;
	padding: 10px;
	height: 300px;
	overflow: auto;
}

audio {
	width: 100%;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}
