<!DOCTYPE html>
<html lang="en">
<head>
<div th:replace="before :: header"></div>
</head>
<body>

	<div class="container" id="wrapper">
		<div th:replace="before :: menu"></div>


		<div class="row">
			<div class="col-md-12 main">
				<h1 style="text-align: center;">Musikkjulekalender 2015!</h1>
				<div class="headerImageDiv">
					<img src="/static/images/santas.jpg"
						class="img-responsive headerImage" alt="Responsive image"> </img>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-md-6 pane">
				<h1>Adminsiden</h1>
				<div id="admin"></div>
			</div>
		</div>

	</div>

	<div th:replace="after :: footer"></div>

</body>
</html>