<!DOCTYPE html>
<html>
<body>
	<div th:fragment="footer">
	
		<div id="fb-root"></div>
		<script>
		
		(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = 'https://connect.facebook.net/nb_NO/sdk.js#xfbml=1\u0026version=v2.11\u0026appId=258625720859950';
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));	
	
		</script>
	
		<script src="/static/js/static/js/2.44de9bbe.chunk.js"></script>
		<script src="/static/js/static/js/main.c8faba61.chunk.js"></script>
		<script src="/static/js/static/js/runtime-main.71b3833e.js"></script>		
	</div>

</body>
</html>
