<!DOCTYPE html>
<html lang="en">
<head>
<div th:replace="before :: header"></div>
</head>
<body>

	<div class="container" id="wrapper">
		<div th:replace="before :: menu"></div>


		<div class="row">
			<div class="col-md-12 main">
				<h1 style="text-align: center;">Musikkjulekalender 2016!</h1>
				<div class="headerImageDiv">
					<img src="/static/images/santas.jpg"
						class="img-responsive headerImage" alt="Responsive image"> </img>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 pane" id="frontpage"></div>
			<!-- <div class="col-md-6 pane">
			    <h1>Dine resultater</h1>
			    <div id="currentuserstatistics">
			    </div>
			  </div> -->
		</div>
		<div class="row">
			<div class="col-md-6 pane">
				<h1>Dagens beste!</h1>
				<div id="userstatistics"></div>
			</div>
			<div class="col-md-6 pane">
				<h1>Toppscorelisten!</h1>
				<div id="topscore"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 main">
				<h1>Løsninger</h1>
				<div id="MusikkJulekalender"></div>
			</div>
		</div>
		<a href="/secure">Logg inn</a>
		<a href="/logout">Logg ut</a>
	</div>

	<div th:replace="after :: footer">&copy; 2013 The Static
		Templates</div>

</body>
</html>