<!DOCTYPE html>
<html lang="en">
<head>
<div th:replace="before :: header"></div>
</head>
<body>

	<div class="wrapper">
		<div th:replace="before :: menu"></div>


		<div>
			<h1>Musikkjulekalender 2016!</h1>
			<div>
				<img src="/static/images/santas.jpg" alt="Responsive image" />
			</div>

		</div>
		<div id="frontpage"></div>
		<!-- <div class="col-md-6 pane">
			    <h1>Dine resultater</h1>
			    <div id="currentuserstatistics">
			    </div>
			  </div> -->
		<div>
			<h1>Dagens beste!</h1>
			<div id="userstatistics"></div>

			<h1>Toppscorelisten!</h1>
			<div id="topscore"></div>
		</div>
		<div>
			<h1>Løsninger</h1>
			<div id="DaysContainer"></div>
		</div>
	</div>

	<div th:replace="after :: footer">&copy; 2013 The Static
		Templates</div>

</body>
</html>