/* New Red 2012
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	background-image: url(images/christmas-snow-background.jpg);
	background-size: cover;
	background-attachment: fixed;
}