/* Old
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
body {
	margin: 0;
	padding: 0;
	background: #010101 url(images/img01.gif) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F5FFFA;
}

h1,h2,h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #A80000;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p,ul,ol {
	margin-top: 0;
	line-height: 180%;
}

ul,ol {
	
}

a {
	text-decoration: none;
	color: #A80000;
}

a:hover {
	
}

#wrapper {
	margin: 0 auto;
	padding: 0;
	background: url(images/img03.gif) no-repeat center top;
}

.container {
	width: 1000px;
	margin: 0px auto;
}

.hideme {
	display: none;
}

/* Header */
#header {
	width: 900px;
	height: 150px;
	margin: 0 auto;
	padding: 0px 50px;
	background: url(images/img01.gif) no-repeat left top;
}

/* Logo */
#logo {
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #A80000;
}

#logo h1,#logo p {
	
}

#logo h1 {
	padding: 60px 0px 0px 0px;
	letter-spacing: -2px;
	text-transform: lowercase;
	font-size: 3.8em;
}

#logo h1 a {
	color: #A80000;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 0px;
	letter-spacing: -1px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #8E8E8E;
}

#logo p a {
	color: #8E8E8E;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}

/* Splash */
#splash {
	width: 960px;
	height: 300px;
	margin: 0px auto;
	background: none repeat scroll 0 0 #000000;
}

#splash .splashText {
	float: right;
	padding: 10px;
	width: 275px;

}

/* Menu */
#menu {
	float: right;
	width: 500px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 85px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-right: 1px;
	padding: 10px 15px 15px 15px;
	background: no-repeat left 12px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover,#menu .current_page_item a {
	text-decoration: none;
	color: #B23C1C;
}

#menu .current_page_item a {
	
}

/* Page */
#page {
	width: 900px;
	margin: 0 auto;
	padding: 30px 30px;
	background: #000000;
}

/* Content */
#content {
	float: left;
	width: 900px;
	padding: 0px 0px 0px 0px;
}

.post {
	overflow: hidden;
	margin-bottom: 40px;
	width: 500px;
}

.right {
	float: right;
	overflow: hidden;
	margin-bottom: 40px;
	border: 1px dotted #1B1B1B;
	width: 400px;
	height: 300px;
	padding: 0px 10px 10px 10px;
}

.left {
	float: left;
	overflow: hidden;
	margin-bottom: 40px;
	border: 1px dotted #1B1B1B;
	width: 400px;
	height: 300px;
	padding: 0px 10px 10px 10px;
}

.post .title {
	height: 41px;
	padding: 7px 0px 0px 0px;
	letter-spacing: -1px;
}

.post .title a {
	border: none;
	text-transform: lowercase;
	color: #B23C1C;
}

.post .meta {
	margin-bottom: 30px;
	padding: 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
	
}

.post .calendar {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
	width: 400px;
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	margin-bottom: 30px;
}

.more {
	display: block;
	float: left;
	width: 88px;
	height: 25px;
	padding: 2px 0px 0px 0px;
	margin-right: 10px;
	background: url(images/img08.jpg) no-repeat left top;
	text-align: center;
	color: #FFFFFF;
}

.comments {
	display: block;
	float: left;
	width: 88px;
	height: 25px;
	padding: 2px 0px 0px 0px;
	background: url(images/img08.jpg) no-repeat left top;
	text-align: center;
	color: #FFFFFF;
}

.green {
	color: #32CD32;
}

.red {
	color: #A80000;
}

/* Sidebar */
#sidebar {
	float: right;
	width: 280px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dotted #1B1B1B;
	margin: 0px 30px;
	border-left: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	padding: 0px 0px 0px 15px;
}

#sidebar h2 {
	height: 38px;
	padding-left: 30px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #B23C1C;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #494949;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #B23C1C;
}

/* Calendar */
#calendar {
	
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Three Column Footer Content */
#footer-content {
	
}

#footer-bg {
	overflow: hidden;
	width: 890px;
	padding: 30px 55px 50px 55px;
	background: url(images/img05.jpg) no-repeat left bottom;
}

#footer-content h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 26px;
	color: #FFFFFF;
}

#footer-content ul {
	margin: 0px;
	padding: 0px 0px 0px 20px;
}

#footer-content a {
	
}

#column1 {
	float: left;
	width: 290px;
	margin-right: 30px;
}

#column2 {
	float: left;
	width: 280px;
}

#column3 {
	float: right;
	width: 260px;
}

/* Footer */
#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 10px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #202020;
}

#footer a {
	color: #202020;
}

#marketing {
	overflow: hidden;
	margin-bottom: 30px;
	padding: 20px 0px 10px 0px;
	border-top: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
}

#marketing .text1 {
	float: left;
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	text-transform: lowercase;
	font-size: 34px;
	color: #345E9B;
}

#marketing .text2 {
	float: right;
}

#marketing .text2 a {
	display: block;
	width: 252px;
	height: 38px;
	padding: 15px 0px 0px 0px;
	background: url(images/img07.jpg) no-repeat left top;
	letter-spacing: -2px;
	text-align: center;
	text-transform: lowercase;
	font-size: 30px;
	color: #FFFFFF;
}